a.dark {
    background-color: #CFD8DC;
    color: black;
}

a.dark span {
    background-color: rgba(0, 0, 0, .3);
}

a.dark span button {
    background-color: crimson;
}

a.dark span button svg {
    color: black;
}