:root {
	/* DARK MODE */
	--dark-bg: #151515;
	--dark-bg-global: #151515;


	--light-btn: #CFD8DC; /* blue-grey-lighten-4 */
	--light-btn-hov: #ECEFF1; /* blue-grey-lighten-5 */
	--main-color: #1E88E5; /* blue-darken-1 */
	--main-color-hov: #42A5F5; /* blue-lighten-1 */



	/* LIGHT MODE */
	--light-bg: #ECEFF1;
	--light-bg-global: #ECEFF1;





}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--dark-bg);
}

input {
	border: none;
	outline: none;
}

button {
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul, ol, li {
	list-style: none;
}

select {
	appearance: none;
	border: 0;
	outline: 0;
}

body {
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	transition: background-color 200ms ease-in-out;
	background-color: #222222;
	font-size: calc(14px + 0.1vw);
}

#app {
	overflow: hidden;
	height: max-content;
	min-height: 100vh;
	width: 100%;
	min-width: 320px;
}

.v-enter-active,
.v-leave-active {
	transition: opacity 0.4s ease-in-out;
}
.v-enter-from,
.v-leave-to {
	opacity: 0;
}

.slide-fade-enter-active {
	transition: all 0.4s ease-out;
}

.slide-fade-leave-active {
	transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
	transform: translateX(20px);
	opacity: 0;
}