.dark ul li button {
    background-color: #CFD8DC;
    color: black;
}

.dark ul li button.active {
    background-color: crimson;
    color: whitesmoke;
}

.dark ul li button.active:hover {
    background-color: crimson;
    color: black;
}

.dark ul li button:hover {
    background-color: #ECEFF1;
}

.dark .nav-logo {
    color: #ECEFF1;
}