.light ul li button {
    background-color: #212121;
    color: whitesmoke;
}

.light ul li button.active {
    background-color: rgb(255, 0, 0);
    color: whitesmoke;
}

.light ul li button.active:hover {
    background-color: rgb(255, 0, 0);
    color: black;
}

.light ul li button:hover {
    background-color: #323232;
}

.light .nav-logo {
    color: #323232;
}